
.idea/.name
.idea/encodings.xml
.idea/kurs_01.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.obj
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-debug/CMakeFiles/kurs.dir/embed.manifest
cmake-build-debug/CMakeFiles/kurs.dir/intermediate.manifest
cmake-build-debug/CMakeFiles/kurs.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/kurs.dir/manifest.rc
cmake-build-debug/CMakeFiles/kurs.dir/manifest.res
cmake-build-debug/CMakeFiles/kurs.dir/objects1.rsp
cmake-build-debug/CMakeFiles/kurs.dir/vc140.pdb
cmake-build-debug/kurs.exe
cmake-build-debug/kurs.ilk
cmake-build-debug/kurs.pdb
cmake-build-debug/posNames.txt
